.form__wrapper {
    position: relative;
}

.contact__modal {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 200px;
    height: 500px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $primary1;
    color: $primary9;
    opacity: 0.96;
    visibility: hidden;
}

.contact__modal--close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2rem;
    cursor: pointer;
}

.contact__modal--close:hover,
.contact__modal--close:focus {
    color: $primary2;
    transform: scale(1.1);
    transition: 200ms ease-in-out;
}
