footer {
    background: $primary5;
}

.footer__wrapper h2,
.footer__wrapper h4 {
    margin: 0 0 20px 0;
    line-height: $line__height1;
    letter-spacing: $letter__spacing2;
    @include text__uppercase;
}

.footer__wrapper h2 {
    color: $secondary1;
    font-size: 1.7rem;
}

.footer__wrapper h4 {
    color: $primary2;
    font-size: 0.9rem;
}

.footer__wrapper {
    display: flex;
    flex-flow: row wrap;
    font-family: $font__family1;
    padding: 70px 0 40px 0;
    justify-content: space-between;
    @include font__style(
        lighten($primary1, 20%),
        0.7rem,
        $line__height3,
        $letter__spacing1
    );
    @include wrapper;
}

.footer__wrapper a,
.copyright,
.social__form input::placeholder {
    color: lighten($primary1, 20%);
}

.footer__about,
.footer__blog,
.footer__social {
    flex: 1 0 33%;
}

.footer__about {
    padding-left: 50px;
    padding-right: 90px;
}

.footer__blog {
    padding-left: 60px;
    padding-right: 50px;
}

.footer__social {
    padding-left: 90px;
    padding-right: 50px;
}

.footer__about p,
.footer__social p {
    line-height: $line__height1;
    padding-top: 10px;
}

.footer__about li,
.footer__blog li,
.social__list {
    border-top: 1px solid $primary4;
}

.footer__about li:first-child {
    line-height: 10px;
    padding-top: 20px;
}

.footer__about li:nth-child(2),
.footer__blog li:first-child {
    border-top: 0;
}

.social__form {
    font-size: 0;
}

.social__form input {
    background: $primary7;
    border: 1px solid transparent;
    padding: 10px 12px;
    width: 86%;
    @include font__style(lighten($primary1, 20%), 0.7rem, 0, $letter__spacing1);
}

.social__form input::placeholder {
    font-family: $font__family1;
}

.button__submit {
    @include button(10px, 12px);
}

.button__submit:hover,
.button__submit:focus {
    @include button__cursor;
}

.social__list {
    display: flex;
}

.social__list li {
    flex: 0 1 35px;
}

.social__list a {
    color: $primary2;
    font-size: 1rem;
}

.social__list a:hover,
.social__list a:focus {
    color: $secondary1;
}

.copyright {
    background: $primary8;
    padding: 20px 0;
}

.copyright p {
    font-size: 0.7rem;
    margin: 0 auto;
    padding: 0 50px;
    width: 85%;
}

.copyright span {
    color: $secondary1;
    text-transform: uppercase;
}
