footer {
    background: $primary2;
}

.footer__wrapper h3,
.footer__wrapper h4 {
    margin: 0;
    font-family: $fontFamily2;
    line-height: $lineHeight1;
    letter-spacing: $letterSpacing2;
    text-transform: uppercase;
}

.footer__wrapper h3 {
    color: $secondary1;
    font-size: 1.5rem;
}

.footer__wrapper h4 {
    font-size: 0.9rem;
}

.footer__wrapper {
    font-family: $fontFamily1;
    padding: 70px 0;
    width: 85%;
    @include fontStyle(
        lighten($primary1, 20%),
        0.7rem,
        $lineHeight3,
        $letterSpacing1
    );
    @include wrapper;
}

.footer__wrapper a,
.copyright {
    color: lighten($primary1, 20%);
}

.footer__about,
.footer__blog,
.footer__social {
    flex: 1 0 33%;
    padding: 0 70px;
}

.footer__about p,
.footer__social p {
    line-height: $lineHeight1;
    padding-top: 10px;
}

.footer__about li,
.footer__blog li {
    border-top: 1px solid lighten($primary2, 15%);
}

.footer__blog li:first-child {
    border-top: 0;
}
