.home {
    @include background__image(url(../assets/blog/home-1.jpeg), 100vh);
}

.blog {
    @include background__image(url(../assets/blog/blog-1.jpeg), 60vh);
}

.contact {
    @include background__image(url(../assets/contact/contact-1.jpeg), 60vh);
}

.header__wrapper {
    font-family: $font__family2;
    width: 95%;
    @include wrapper;
}

.header__wrapper h1 {
    text-transform: uppercase;
    @include font__style($primary9, 46px, $line__height1, $letter__spacing4);
}

.nav__list {
    display: flex;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 25px;
    margin-top: 10px;
}

.nav__link a {
    color: $primary9;
}

.nav__link a:hover,
.nav__link a:active,
.nav__link a:focus {
    color: $secondary1;
}

.button__hamburger {
    visibility: hidden;
}
