// Header background images styles
.home {
    @include background__image(url(../assets/home/home_1.jpeg), 100vh);
}

.blog {
    @include background__image(url(../assets/blog/blog_1.jpeg), 60vh);
}

.contact {
    @include background__image(url(../assets/contact/contact_1.jpeg), 70vh);
}

// Header wrapper style
.header__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include wrapper(95%);
}

// Header navigation styles
.header__wrapper h1,
.nav__list {
    @include text__uppercase;
}

.header__wrapper h1 {
    @include font__style($primary9, 46px, $line__height1, $letter__spacing4);
}

.header__wrapper a {
    color: $primary9;
}

.nav__search a {
    font-size: 1.5rem;
}

.header__wrapper a:hover,
.header__wrapper a:active,
.header__wrapper a:focus {
    color: $secondary1;
}

.nav__list,
.nav__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin-left: 25px;
}

.nav__link.cart {
    position: relative;
}

.cart__quantity {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 27px;
    height: 27px;
    padding: 3px;
    background: $secondary1;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    visibility: hidden;
}

// Header hamburger menu style
.button__hamburger {
    background: transparent;
    border-style: none;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    visibility: hidden;
}

// Header modal style
.order__list {
    list-style-type: square;
    text-transform: capitalize;
}

.order__list li {
    padding: 10px 0;
}
