// Big screen devices
@media (max-width: 1432px) {
    // Wrapper styles
    .recipes__wrapper,
    .blog__wrapper,
    .footer__wrapper {
        @include wrapper(95%);
    }

    // Home page menu section
    .recipes__wrapper {
        background: #fff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
    }

    .menu__text {
        grid-row-start: 3;
    }

    .recipes__text,
    .menu__text {
        margin: 0px auto;
        padding: 70px 50px;
        width: 100%;
    }

    .menu__category p {
        @include font__style(
            $primary4,
            18px,
            $line__height1,
            $letter__spacing1
        );
    }

    .recipes__text h2::after {
        @include underline(60%, 47%);
    }

    .restaurant__info,
    .testimonials {
        width: 70%;
    }

    .image2 {
        right: 100px;
    }

    // Blog page style
    .post h4 {
        font-size: 0.8rem;
    }

    // Contact page style
    .contact__form {
        grid-template-columns: 1fr 1fr;
        padding-left: 70px;
    }

    .info__content {
        max-width: 75%;
    }

    // Footer styles
    .footer__about {
        padding-left: 30px;
        padding-right: 40px;
    }

    .footer__blog {
        padding-left: 30px;
        padding-right: 40px;
    }

    .footer__social {
        padding-left: 40px;
        padding-right: 30px;
    }

    .copyright p {
        padding: 0 30px;
        width: 95%;
    }
}

@media (max-width: 1100px) {
    // Header styles
    .header__wrapper h1 {
        font-size: 2rem;
    }

    .nav__link a {
        font-size: 0.85rem;
    }

    .nav__search a {
        font-size: 1.5rem;
    }

    // Home page style
    .image2 {
        right: 30px;
    }

    // Blog page style
    .blog__wrapper {
        padding: 70px 30px;
    }

    .blog__modal {
        right: 30px;
        left: 30px;
        bottom: 150px;
    }

    // Contact page style
    .contact__modal {
        bottom: 215px;
    }

    // Footer styles
    .footer__about {
        flex: 1 1 auto;
    }

    .footer__blog,
    .footer__social {
        padding-top: 30px;
    }

    .footer__wrapper h2 {
        font-size: 1.5rem;
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 972px) {
    // Header styles
    .home,
    .blog,
    .contact {
        background-size: cover;
    }

    .header__wrapper {
        flex-flow: column wrap;
        @include wrapper(100%);
    }

    .header__nav,
    .nav__list {
        background: $primary2;
        opacity: 0.9;
    }

    .header__nav {
        padding: 0 20px;
    }

    .nav__list a {
        font-size: 1rem;
    }

    .nav__list {
        margin-top: 0;
        flex-flow: column wrap;
        visibility: hidden;
    }

    .nav__link {
        padding: 15px 0;
    }

    .nav__search {
        position: absolute;
        top: -5px;
        right: 80px;
    }

    .cart__quantity {
        bottom: 5px;
    }

    .show__links,
    .button__hamburger {
        visibility: visible;
    }

    .button__rotate {
        transform: rotate(90deg);
    }

    .nav__link.cart::before {
        bottom: 13px;
    }

    .nav__link.cart::after {
        bottom: 15px;
    }

    // Home page style
    .image2 {
        right: -40px;
    }

    // Contact page style
    .form__wrapper {
        padding: 40px 0;
    }

    .info__content {
        max-width: 100%;
        padding: 40px 30px;
    }

    .contact__modal {
        bottom: 170px;
        height: 480px;
    }
}

@media (max-width: 876px) {
    .contact__modal {
        bottom: 245px;
    }
}

@media (max-width: 780px) {
    .contact__modal {
        bottom: 260px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    // Header style
    .header__wrapper h1,
    .button__hamburger {
        font-size: 1.5rem;
    }

    .nav__search {
        top: -10px;
    }

    // Home page style
    .home__wrapper h2::after,
    .info__text h2::after,
    .testimonials h4::after {
        @include underline(60%, 45%);
    }

    .restaurant__info {
        padding: 120px 0 100px 0;
    }

    .image2 {
        top: -18%;
        right: -60px;
        width: 40%;
    }

    .menu__text {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .testimonials {
        width: 50%;
    }

    .restaurant__testimonials {
        padding: 100px 0 150px 0;
    }

    // Blog page styles
    .author__container {
        flex-flow: column wrap;
        align-items: center;
    }

    .author__bio {
        margin-top: 20px;
    }

    .blog__modal {
        height: 600px;
    }

    // Contact page styles
    .comment__form,
    .contact__form,
    .form__wrapper form {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 0px;
    }

    .form__wrapper {
        justify-self: center;
    }

    .form__wrapper input,
    .form__wrapper textarea {
        width: 90vw;
    }

    .contact__modal {
        bottom: 150px;
        height: 550px;
    }

    // Footer styles
    .footer__blog {
        display: none;
    }

    .social__form input {
        width: 90%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    // Wrapper styles
    .home__wrapper,
    .recipes__wrapper,
    .blog__wrapper,
    .footer__wrapper {
        @include wrapper(100%);
    }

    // Header styles
    .nav__list {
        margin-bottom: 0;
    }

    .nav__search {
        background: $primary2;
        opacity: 0.9;
        position: relative;
        top: 0;
        right: 0;
        margin: 0;
        visibility: hidden;
    }

    .show__links {
        visibility: visible;
    }

    // Home page styles
    .home__wrapper h2 {
        font-size: 1rem;
    }

    .image2 {
        top: -9%;
        right: -40px;
    }

    .recipes__text,
    .menu__text {
        padding: 70px 30px;
    }

    .testimonials h4::after {
        @include underline(60%, 38%);
    }

    .angle--left {
        left: 35%;
    }

    .angle--right {
        right: 35%;
    }

    // Blog page style
    .blog__content h2 {
        font-size: 1.2rem;
    }

    .menu__category p,
    .recipes__text p,
    .info__text p,
    .testimonials p,
    .testimonials h4,
    .blog__wrapper p,
    .blog__wrapper a,
    .comment__form input,
    .comment__form textarea {
        font-size: 16px;
    }

    p.blog__date {
        font-size: 14px;
    }

    .post,
    .comment {
        flex-flow: column wrap;
    }

    .post div:nth-child(2) {
        padding: 0;
    }

    .blog__modal--close,
    .contact__modal--close {
        right: 20px;
        font-size: 1.5rem;
    }

    // Footer style
    .social__form input {
        width: 80%;
    }
}
