@mixin font__style($color, $font__size, $line__height, $letter__spacing) {
    color: $color;
    font-size: $font__size;
    line-height: $line__height;
    letter-spacing: $letter__spacing;
}

@mixin background__image($image, $height) {
    background: $primary3 url($image) center bottom no-repeat;
    background-size: 100% 100%;
    height: $height;
}

@mixin wrapper {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
}
