@mixin font__style($color, $font__size, $line__height, $letter__spacing) {
    color: $color;
    font-size: $font__size;
    line-height: $line__height;
    letter-spacing: $letter__spacing;
}

@mixin text__uppercase {
    font-family: $font__family2;
    text-transform: uppercase;
}

@mixin background__image($image, $height) {
    background: $image center bottom no-repeat;
    background-size: 100% 100%;
    height: $height;
}

@mixin wrapper($width: 85%) {
    max-width: 1500px;
    margin: 0 auto;
    width: $width;
}

@mixin underline($top, $left) {
    content: "";
    background: $secondary1;
    position: absolute;
    top: $top;
    left: $left;
    height: 3px;
    width: 50px;
}

@mixin button($padding1, $padding2) {
    border: 1px solid transparent;
    background: $secondary1;
    color: $primary2;
    font-size: 0.7rem;
    padding: $padding1 $padding2;
    text-transform: uppercase;
}

@mixin button__cursor {
    color: $primary9;
    cursor: pointer;
}

@mixin grid23 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

@mixin grid32 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

@mixin form($background: #fff, $border__color: #f6f6f6) {
    background: $background;
    border: 1px solid $border__color;
    padding: 7px 10px;
    width: 25vw;
}
