.blog__wrapper {
    position: relative;
}

.modal {
    display: flex;
    position: absolute;
    right: 51px;
    left: 51px;
    bottom: 240px;
    height: 450px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $primary1;
    color: $primary9;
    opacity: 0.96;
    visibility: hidden;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2rem;
    cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
    color: $primary2;
    transform: scale(1.1);
    transition: 200ms ease-in-out;
}
