// Primary color variables
$primary1: #999999;
$primary2: #f6f6f6;
$primary3: #efefef;
$primary4: #474747;
$primary5: #2e2e2e;
$primary6: #333333;
$primary7: #535353;
$primary8: #252525;
$primary9: #000000;

// Secondary color variables
$secondary1: #64a604;
$secondary2: #dded9a;
$secondary3: #eef6d1;

// Font family variables
$font__family1: "Lora", serif;
$font__family2: "Raleway", sans-serif;

// Line height variables
$line__height1: 24px;
$line__height2: 36px;
$line__height3: 44px;

// Letter spacing variables
$letter__spacing1: 0.3px;
$letter__spacing2: 0.5px;
$letter__spacing3: 0.6px;
$letter__spacing4: 1.1px;
