$primary1: #999;
$primary2: #2e2e2e;
$primary3: #f6f6f6;
$primary4: #333;
$secondary1: #64a604;
$secondary2: #dded9a;

$fontFamily1: "Lora", serif;
$fontFamily2: "Raleway", sans-serif;

$lineHeight1: 24px;
$lineHeight2: 36px;
$lineHeight3: 44px;

$letterSpacing1: 0.3px;
$letterSpacing2: 0.5px;
$letterSpacing3: 0.6px;
$letterSpacing4: 1.1px;
