html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.home {
  background: #efefef url(../assets/blog/home-1.jpeg) center bottom no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.blog {
  background: #efefef url(../assets/blog/blog-1.jpeg) center bottom no-repeat;
  background-size: 100% 100%;
  height: 60vh;
}

.contact {
  background: #efefef url(../assets/contact/contact-1.jpeg) center bottom no-repeat;
  background-size: 100% 100%;
  height: 60vh;
}

.header__wrapper {
  font-family: "Raleway", sans-serif;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper h1 {
  text-transform: uppercase;
  color: #000000;
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.nav__link {
  margin-left: 25px;
  margin-top: 10px;
}

.nav__link a {
  color: #000000;
}

.nav__link a:hover,
.nav__link a:active,
.nav__link a:focus {
  color: #64a604;
}

.button__hamburger {
  visibility: hidden;
}

footer {
  background: #2e2e2e;
}

.footer__wrapper h3,
.footer__wrapper h4 {
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.footer__wrapper h3 {
  color: #64a604;
  font-size: 1.5rem;
}

.footer__wrapper h4 {
  color: #f6f6f6;
  font-size: 0.9rem;
}

.footer__wrapper {
  font-family: "Lora", serif;
  padding: 70px 0;
  width: 85%;
  color: #cccccc;
  font-size: 0.7rem;
  line-height: 44px;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper a,
.copyright {
  color: #cccccc;
}

.footer__about,
.footer__blog,
.footer__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  padding: 0 50px;
}

.footer__about p,
.footer__social p {
  line-height: 24px;
  padding-top: 10px;
}

.footer__about li,
.footer__blog li,
.social__list {
  border-top: 1px solid #474747;
}

.footer__about li:first-child {
  line-height: 10px;
  padding-top: 20px;
}

.footer__about li:nth-child(2),
.footer__blog li:first-child {
  border-top: 0;
}

.social__form {
  font-size: 0;
}

.social__form input,
.button__submit {
  border: 1px solid transparent;
  padding: 10px 12px;
}

.social__form input {
  background: #535353;
  width: 85%;
  color: #cccccc;
  font-size: 0.7rem;
  line-height: 0;
  letter-spacing: 0.3px;
}

.button__submit {
  background: #64a604;
  color: #f6f6f6;
  font-size: 0.7rem;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35px;
          flex: 0 1 35px;
}

.social__list a {
  color: #f6f6f6;
  font-size: 1rem;
}

.copyright {
  background: #252525;
  padding: 20px 0;
}

.copyright p {
  font-size: 0.7rem;
  margin: 0 auto;
  padding: 0 50px;
  width: 85%;
}

.copyright span {
  color: #64a604;
  text-transform: uppercase;
}
